In [1]:
# Processing libraries
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

# Importing Data

In [3]:
order = pd.read_csv("archive/_DA_Order_Brushing/order_brush_order.csv") #order data file
customer = pd.read_csv("archive/_DA_Marketing_Analytics/train.csv") #main user data file
customer_age = pd.read_csv("archive/_DA_Marketing_Analytics/users.csv") #age domain etc
products = pd.read_csv("products.csv")

In [4]:
customer = pd.merge(customer, customer_age, how='left', on='user_id')

In [6]:
customer.country_code.value_counts()

country_code
1    28423
2    13874
3    13845
4     6302
5     5536
6     3221
7     2338
Name: count, dtype: int64

In [7]:
SG_customer = customer[customer.country_code == 7].reset_index()
print(SG_customer)

      index  country_code                 grass_date  user_id  \
0      2393             7  2019-07-17 00:00:00+08:00      299
1      2429             7  2019-07-17 00:00:00+08:00     2143
2      2434             7  2019-07-17 00:00:00+08:00     2306
3      2448             7  2019-07-17 00:00:00+08:00     3334
4      2486             7  2019-07-17 00:00:00+08:00     5751
...     ...           ...                        ...      ...
2333  69594             7  2019-09-01 00:00:00+08:00   126576
2334  69599             7  2019-09-01 00:00:00+08:00   126948
2335  69607             7  2019-09-01 00:00:00+08:00   127209
2336  69611             7  2019-09-01 00:00:00+08:00   127441
2337  69619             7  2019-09-01 00:00:00+08:00   127744

      subject_line_length last_open_day last_login_day last_checkout_day  \
0                      32            19              1                 2
1                      32            21              2                 7
2                      37           130              1                10
3                      32             9             13                19
4                      32            62              2                 5
...                   ...           ...            ...               ...
2333                   63            32             20    Never checkout
2334                   63             5              5    Never checkout
2335                   63            85            889    Never checkout
2336                   63            28            474    Never checkout
2337                   63            16           1380    Never checkout

      open_count_last_10_days  open_count_last_30_days  ...  \
0                           0                        1  ...
1                           0                        2  ...
2                           0                        0  ...
3                           1                        1  ...
4                           0                        0  ...
...                       ...                      ...  ...
2333                        0                        0  ...
2334                        1                        3  ...
2335                        0                        0  ...
2336                        0                        1  ...
2337                        0                        1  ...

      checkout_count_last_10_days  checkout_count_last_30_days  \
0                               1                            2
1                               1                            3
2                              12                           12
3                               0                            1
4                               4                           13
...                           ...                          ...
2333                            0                            0
2334                            0                            0
2335                            0                            0
2336                            0                            0
2337                            0                            0

      checkout_count_last_60_days  open_flag  row_id  attr_1  attr_2  attr_3  \
0                               7          0    2393     1.0     1.0     1.0
1                              10          0    2429     1.0     1.0     2.0
2                              26          0    2434     1.0     1.0     4.0
3                               3          0    2448     1.0     1.0     2.0
4                              18          0    2486     1.0     1.0     2.0
...                           ...        ...     ...     ...     ...     ...
2333                            0          0   69594     NaN     1.0     0.0
2334                            0          0   69599     1.0     1.0     1.0
2335                            0          0   69607     NaN     1.0     0.0
2336                            0          0   69611     1.0     1.0     1.0
2337                            0          0   69619     NaN     1.0     0.0

       age      domain
0     38.0  @gmail.com
1     26.0  @yahoo.com
2     56.0  @gmail.com
3     30.0  @gmail.com
4     27.0  @yahoo.com
...    ...         ...
2333   NaN  @yahoo.com
2334  26.0  @gmail.com
2335   NaN  @yahoo.com
2336  30.0  @yahoo.com
2337   NaN  @gmail.com

[2338 rows x 24 columns]

In [8]:
order

               orderid     shopid     userid           event_time
0       31076582227611   93950878   30530270  2019-12-27 00:23:03
1       31118059853484  156423439   46057927  2019-12-27 11:54:20
2       31123355095755  173699291   67341739  2019-12-27 13:22:35
3       31122059872723   63674025  149380322  2019-12-27 13:01:00
4       31117075665123  127249066  149493217  2019-12-27 11:37:55
...                ...        ...        ...                  ...
222745  31245479170194  110868129  193218997  2019-12-28 23:17:59
222746  31230440360374   91639906    3541807  2019-12-28 19:07:20
222747  31191471145838   29391773  135908070  2019-12-28 08:17:52
222748  31198471732255   61556313   27306783  2019-12-28 10:14:31
222749  31164356713822  147941492  127484153  2019-12-28 00:45:56

[222750 rows x 4 columns]

In [10]:
products

,price_ori,delivery,item_category_detail,specification,title,w_date,link_ori,item_rating,seller_name,idElastic,...,idHash,total_rating,id,total_sold,pict_link,favorite,timestamp,desc,Stock,Ships From
0,25.80,"KL City, Kuala Lumpur",Shopee | Women's Bags | Shoulder Bags | Should...,Product Specifications Category Shopee Women's...,1081 PU SLING BAG KULIT leather Casual Beg Tan...,2023-04-27,https://shopee.com.my/1081-PU-SLING-BAG-KULIT-...,4.9,qqfwholesale,19ec9fdedd9fe3e14bc652950fc3c423,...,88f051f0a2dcf0d29191e0175b828938,179,88f051f0a2dcf0d29191e0175b828938,179,https://down-my.img.susercontent.com/file/my-1...,Favorite (128,1682553600000,üéâ WELCOME To QQF WHOLESALE \r\nüòç ALL item read...,2906,Johor
1,1.41,NaN,Shopee | Home Appliances | Sewing Machines | S...,Product Specifications Category Shopee Home Ap...,Stat Chinese Traditional Frog Buttons Knot Che...,2023-04-27,https://shopee.com.my/Stat-Chinese-Traditional...,5.0,stationery.my,5322309be3b6d9c01d15fa19f5b7ad9a,...,472d22f58af3bb35cf28c6eed7088dc5,17,472d22f58af3bb35cf28c6eed7088dc5,17,https://down-my.img.susercontent.com/file/4147...,Favorite (19,1682553600000,Chinese Traditional Frog Buttons Knot Cheongsa...,31701,Mainland China
2,8.50,"KL City, Kuala Lumpur",Shopee | Women's Bags | Handbags | Set Handbags,Product Specifications Category Shopee Women's...,N09 READY STOCK MYFOOYIN woman handbag set 2in...,2023-04-26,https://shopee.com.my/N09-READY-STOCK-MYFOOYIN...,4.9,fooyin88,7a36765d1e2ca2b6a5414ddfeedfefc3,...,ec6ce64f4b77efb38b6392818959f181,8.1k,ec6ce64f4b77efb38b6392818959f181,8.1k,https://down-my.img.susercontent.com/file/23da...,Favorite (21.5k,1682467200000,READY STOCK\nMEASUREMENT:\nLONG 26CM X HEIGHT ...,2044,Terengganu
3,8.70,NaN,Shopee | Women Clothes | Maternity Wear | Inne...,Product Specifications Category Shopee Women C...,üî•Shocking Saleüî•Cotton Comfort Nursing Bra Brea...,2023-04-26,https://shopee.com.my/%F0%9F%94%A5Shocking-Sal...,4.9,vivi2002,7fc4ab69722e4f788f217b4c044f83eb,...,ef4e0e17fdc7d0125d8609dcc395bc3d,6.5k,ef4e0e17fdc7d0125d8609dcc395bc3d,6.5k,https://down-my.img.susercontent.com/file/df47...,Favorite (3.4k,1682467200000,PRODUCT DESCRIPTION\nMaterial:95%Cotton+5%Span...,386,Pahang
4,3999.00,"KL City, Kuala Lumpur",Shopee | Cameras & Drones | DSLR Cameras | DSLRs,Product Specifications Category Shopee Cameras...,Canon EOS 70D 18-55mm IS STM Original+64gb+ext...,2023-04-26,https://shopee.com.my/Canon-EOS-70D-18-55mm-IS...,5.0,xpro.gadget,55608f901f4c5384f884de18227d4298,...,568c2029fed7d22973ff96d0404a8ff8,10,568c2029fed7d22973ff96d0404a8ff8,10,https://down-my.img.susercontent.com/file/4d3a...,Favorite (132,1682467200000,Canon 70D\nHighlights\nEF-S 18-55mm f/3.5-5.6 ...,36,Kuala Lumpur
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20307,50.60,NaN,Shopee | Baby & Toys | Girls Fashion | Girl Shoes,Product Specifications Category Shopee Baby & ...,Elegant All-match Girls Leather Flat Shoes Pea...,2023-05-13,https://shopee.com.my/Elegant-All-match-Girls-...,4.9,amour.my,fe0f926e9b0588513b6d0e284c80a6b0,...,d8455ff553c9a2739d1bb6bd1f775f7c,219,d8455ff553c9a2739d1bb6bd1f775f7c,219,https://down-my.img.susercontent.com/file/1b02...,Favorite (1.6k,1683936000000,1¬†cm¬†=¬†0.3937¬†inch \r\n-----------------------...,19076,Mainland China
20308,32.00,NaN,Shopee | Baby & Toys | Girls Fashion | Girl Dr...,Product Specifications Category Shopee Baby & ...,Baju Raya kids 2023(v1) | Shopee Malaysia,2023-05-13,https://shopee.com.my/Baju-Raya-kids-2023%28v1...,4.8,mazu9,eeb4fbeff8aad77f6c316de399b30516,...,50bf7d6c1a1a2c812de434ab593f619d,215,50bf7d6c1a1a2c812de434ab593f619d,215,https://down-my.img.susercontent.com/file/my-1...,Favorite (304,1683936000000,M G FASHION\n-stylist fashionable\n-comfortab...,9406,W.P. Kuala Lumpur
20309,4.98,NaN,Shopee | Muslim Fashion | Kain Pasang & Songke...,Product Specifications Category Shopee Muslim ...,Kain como crepe heavy premium (harga untk 0.5m...,2023-05-13,https://shopee.com.my/Kain-como-crepe-heavy-pr...,4.7,nurlainafashionzone,159cc3d6a46aa1624d2ce80be7d77568,...,540c0f2b0626585b648044b4d37c82f5,152,540c0f2b0626585b648044b4d37c82f5,152,https://down-my.img.susercontent.com/file/sg-1...,Favorite (98,1683936000000,Harga utk 0.5m@setengah meter / HARGA BUKAN U...,446287,Kuala Lumpur
20310,0.30,NaN,Shopee | Baby & Toys | Others | Others,Product Specifications Category Shopee Baby & ...,Doorgift Bag Birthday Kids Drawstring Organize...,2023-05-13,https://shopee.com.my/Doorgift-Bag-Birthday-Ki...,4.9,pbs_empire,1337988da88f0baa5e347eefcd7e46d8,...,d6e4238bc9dc70b300d54abd1ad2eccf,16,d6e4238bc9dc70b300d54abd1ad2eccf,16,https://down-my.img.susercontent.com/file/54f1...,Favorite (27,1683936000000,Custom made Ready Stock in Malaysia\nUnicorn S...,3695,Selangor
20311,25.00,NaN,Shopee | Fashion Accessories | Eyewear | Eyegl...,Product Specifications Category Shopee Fashion...,Chris kacamata hitam anti silau | Shopee Malaysia,2023-05-13,https://shopee.com.my/Chris-kacamata-hitam-ant...,4.6,ilham02_02,8a778a30f2f2eab867c1a39232192fc9,...,d68e3099f5998e53d9d39893be6730f7,89,d68e3099f5998e53d9d39893be6730f7,89,https://down-my.img.susercontent.com/file/sg-1...,Favorite (61,1683936000000,@normal set bermaksud anda dapat set cermin ma...,6800,Selangor

# Data Cleaning for Customer

In [19]:
SG_customer.isna().sum()

index                             0
country_code                      0
grass_date                        0
user_id                           0
subject_line_length               0
last_open_day                     0
last_login_day                    0
last_checkout_day                 0
open_count_last_10_days           0
open_count_last_30_days           0
open_count_last_60_days           0
login_count_last_10_days          0
login_count_last_30_days          0
login_count_last_60_days          0
checkout_count_last_10_days       0
checkout_count_last_30_days       0
checkout_count_last_60_days       0
open_flag                         0
row_id                            0
attr_1                         1240
attr_2                            2
attr_3                            0
age                               0
domain                            0
dtype: int64

In [110]:
SG_customer = SG_customer.drop(columns = ['index', 'country_code', 'grass_date'])
SG_customer = SG_customer.rename(columns={'user_id': 'customer_id'})

In [17]:
#filling out age NaNs based on Statista Records
# Define the age groups and corresponding probabilities

age_groups = [18, 25, 35, 45, 55]
age_probabilities = [0.13, 0.20, 0.22, 0.22, 0.23]

# Identify missing age values
missing_age_mask = SG_customer['age'].isna()

# Generate random ages according to the given probabilities for the missing values
random_ages = np.random.choice(age_groups, size=missing_age_mask.sum(), p=age_probabilities)

# Fill missing age values with the generated random ages
SG_customer.loc[missing_age_mask, 'age'] = random_ages

In [18]:
SG_customer

,index,country_code,grass_date,user_id,subject_line_length,last_open_day,last_login_day,last_checkout_day,open_count_last_10_days,open_count_last_30_days,...,checkout_count_last_10_days,checkout_count_last_30_days,checkout_count_last_60_days,open_flag,row_id,attr_1,attr_2,attr_3,age,domain
0,2393,7,2019-07-17 00:00:00+08:00,299,32,19,1,2,0,1,...,1,2,7,0,2393,1.0,1.0,1.0,38.0,@gmail.com
1,2429,7,2019-07-17 00:00:00+08:00,2143,32,21,2,7,0,2,...,1,3,10,0,2429,1.0,1.0,2.0,26.0,@yahoo.com
2,2434,7,2019-07-17 00:00:00+08:00,2306,37,130,1,10,0,0,...,12,12,26,0,2434,1.0,1.0,4.0,56.0,@gmail.com
3,2448,7,2019-07-17 00:00:00+08:00,3334,32,9,13,19,1,1,...,0,1,3,0,2448,1.0,1.0,2.0,30.0,@gmail.com
4,2486,7,2019-07-17 00:00:00+08:00,5751,32,62,2,5,0,0,...,4,13,18,0,2486,1.0,1.0,2.0,27.0,@yahoo.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2333,69594,7,2019-09-01 00:00:00+08:00,126576,63,32,20,Never checkout,0,0,...,0,0,0,0,69594,NaN,1.0,0.0,35.0,@yahoo.com
2334,69599,7,2019-09-01 00:00:00+08:00,126948,63,5,5,Never checkout,1,3,...,0,0,0,0,69599,1.0,1.0,1.0,26.0,@gmail.com
2335,69607,7,2019-09-01 00:00:00+08:00,127209,63,85,889,Never checkout,0,0,...,0,0,0,0,69607,NaN,1.0,0.0,45.0,@yahoo.com
2336,69611,7,2019-09-01 00:00:00+08:00,127441,63,28,474,Never checkout,0,1,...,0,0,0,0,69611,1.0,1.0,1.0,30.0,@yahoo.com
2337,69619,7,2019-09-01 00:00:00+08:00,127744,63,16,1380,Never checkout,0,1,...,0,0,0,0,69619,NaN,1.0,0.0,45.0,@gmail.com

# Data Cleaning For Products

In [25]:
# Use regular expressions to extract 'Stock' and 'Ships From' values
products['Stock'] = products['specification'].str.extract(r'Stock\s(\d+)').fillna(0).astype(int)
products['Ships_From'] = products['specification'].str.extract(r'Ships From\s(.+)$')

In [39]:
# MYR to SGD
products['price_ori'] = products['price_ori']/3.21118 
products['price_actual'] = products['price_actual']/3.21118

In [49]:
def convert_rating(value):
    try:
        if 'k' in value:
            # Convert values like '8.1k' to 8100
            return int(float(value.replace('k', '')) * 1000)
        else:
            # Convert normal string numbers to integers
            return int(value)
    except:
        print(value)


# Apply the conversion function to the 'total_rating' column
products['total_rating'] = products['total_rating'].apply(convert_rating)
products['total_sold'] = products['total_sold'].apply(convert_rating)

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

In [51]:
def convert_favorite(value):
    # Remove 'Favorite (' and convert the result to string
    try:
        value = value.replace('Favorite (', '').replace(')', '')
    except:
        print(value)
    return(convert_rating(value))

products['favorite'] = products['favorite'].apply(convert_favorite)

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
label_favorite
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

In [37]:
products= products.drop(['delivery', 'specification', 'w_date', 'link_ori', 'idElastic', 'sitename', 'idHash', 'id', 'pict_link', 'timestamp'], axis=1)

In [112]:
products['product_id'] = products.index + 1

In [113]:
products

,price_ori,item_category_detail,title,item_rating,seller_name,price_actual,total_rating,total_sold,favorite,desc,Stock,Ships_From,product_id
0,8.034430,Shopee | Women's Bags | Shoulder Bags | Should...,1081 PU SLING BAG KULIT leather Casual Beg Tan...,4.9,qqfwholesale,4.017215,179.0,179.0,128.0,üéâ WELCOME To QQF WHOLESALE \r\nüòç ALL item read...,2906,Malaysia,1
1,0.439091,Shopee | Home Appliances | Sewing Machines | S...,Stat Chinese Traditional Frog Buttons Knot Che...,5.0,stationery.my,0.233559,17.0,17.0,19.0,Chinese Traditional Frog Buttons Knot Cheongsa...,31701,China,2
2,2.647002,Shopee | Women's Bags | Handbags | Set Handbags,N09 READY STOCK MYFOOYIN woman handbag set 2in...,4.9,fooyin88,2.647002,8100.0,8100.0,21500.0,READY STOCK\nMEASUREMENT:\nLONG 26CM X HEIGHT ...,2044,Malaysia,3
3,2.709284,Shopee | Women Clothes | Maternity Wear | Inne...,üî•Shocking Saleüî•Cotton Comfort Nursing Bra Brea...,4.9,vivi2002,2.709284,6500.0,6500.0,3400.0,PRODUCT DESCRIPTION\nMaterial:95%Cotton+5%Span...,386,Malaysia,4
4,1245.336605,Shopee | Cameras & Drones | DSLR Cameras | DSLRs,Canon EOS 70D 18-55mm IS STM Original+64gb+ext...,5.0,xpro.gadget,852.957480,10.0,10.0,132.0,Canon 70D\nHighlights\nEF-S 18-55mm f/3.5-5.6 ...,36,Malaysia,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20307,15.757447,Shopee | Baby & Toys | Girls Fashion | Girl Shoes,Elegant All-match Girls Leather Flat Shoes Pea...,4.9,amour.my,9.454468,219.0,219.0,1600.0,1¬†cm¬†=¬†0.3937¬†inch \r\n-----------------------...,19076,China,20308
20308,9.965184,Shopee | Baby & Toys | Girls Fashion | Girl Dr...,Baju Raya kids 2023(v1) | Shopee Malaysia,4.8,mazu9,9.965184,215.0,215.0,304.0,M G FASHION\n-stylist fashionable\n-comfortab...,9406,Malaysia,20309
20309,1.550832,Shopee | Muslim Fashion | Kain Pasang & Songke...,Kain como crepe heavy premium (harga untk 0.5m...,4.7,nurlainafashionzone,0.775416,152.0,152.0,98.0,Harga utk 0.5m@setengah meter / HARGA BUKAN U...,446287,Malaysia,20310
20310,0.093424,Shopee | Baby & Toys | Others | Others,Doorgift Bag Birthday Kids Drawstring Organize...,4.9,pbs_empire,0.093424,16.0,16.0,27.0,Custom made Ready Stock in Malaysia\nUnicorn S...,3695,Malaysia,20311
20311,7.785300,Shopee | Fashion Accessories | Eyewear | Eyegl...,Chris kacamata hitam anti silau | Shopee Malaysia,4.6,ilham02_02,7.785300,89.0,89.0,61.0,@normal set bermaksud anda dapat set cermin ma...,6800,Malaysia,20312

In [33]:
products.Ships_From.value_counts().to_csv('ShipsValue.csv')

In [34]:
location_to_country_non_malaysia = {
    "Mainland China": "China",
    "Indonesia": "Indonesia",
    "Korea": "South Korea",
    "Vietnam": "Vietnam",
    "Taiwan": "Taiwan",
    "Thailand": "Thailand",
    "KOTA JAKARTA SELATAN - KEBAYORAN BARU, DKI JAKARTA, ID": "Indonesia",
    "KAB. MOJOKERTO - MOJOSARI, JAWA TIMUR, ID": "Indonesia",
    "KOTA JAKARTA UTARA - KELAPA GADING, DKI JAKARTA, ID": "Indonesia",
    "KOTA JAKARTA PUSAT - TANAH ABANG, DKI JAKARTA, ID": "Indonesia",
    "KOTA JAKARTA BARAT - KEBON JERUK, DKI JAKARTA, ID": "Indonesia"
}


# Apply mapping to 'Ship_From' column
products['Ships_From'] = products['Ships_From'].apply(lambda x: location_to_country_non_malaysia.get(x, "Malaysia"))

In [44]:
products.item_category_detail.value_counts().to_csv('Categories.csv')

# Data Cleaning Order

In [53]:
order

               orderid     shopid     userid           event_time
0       31076582227611   93950878   30530270  2019-12-27 00:23:03
1       31118059853484  156423439   46057927  2019-12-27 11:54:20
2       31123355095755  173699291   67341739  2019-12-27 13:22:35
3       31122059872723   63674025  149380322  2019-12-27 13:01:00
4       31117075665123  127249066  149493217  2019-12-27 11:37:55
...                ...        ...        ...                  ...
222745  31245479170194  110868129  193218997  2019-12-28 23:17:59
222746  31230440360374   91639906    3541807  2019-12-28 19:07:20
222747  31191471145838   29391773  135908070  2019-12-28 08:17:52
222748  31198471732255   61556313   27306783  2019-12-28 10:14:31
222749  31164356713822  147941492  127484153  2019-12-28 00:45:56

[222750 rows x 4 columns]

# Making Synthetic Data

In [96]:
# Loop through each customer and add random noise to their checkout count

# Ensure that checkout_count_last_1_year is always greater than checkout_count_last_60_days
SG_customer['checkout_count_last_1_year'] = SG_customer.apply(
    lambda row: row['checkout_count_last_60_days'] + np.random.randint(0, (row['checkout_count_last_60_days']+3)*6),  # Multiplier ensures it's larger
    axis=1
)

In [103]:
# Function to apply the logic based on 'last_checkout_day'
def process_checkout(row):
    if row['last_checkout_day'] == 'Never checkout':
        # Generate random integer 0 or 1
        random_value = np.random.randint(0, 2)
        
        # If random_value is 0 and checkout_count_last_year > 0
        if random_value == 0 and row['checkout_count_last_1_year'] > 0:
            # Set last_checkout_day to 60 + random number between 0 and 300
            row['last_checkout_day'] = 60 + np.random.randint(0, 301)
        else:
            row['checkout_count_last_1_year'] = 0
    
    # Return the updated row
    return row

# Apply the function to the DataFrame
SG_customer = SG_customer.apply(process_checkout, axis=1)

In [111]:
SG_customer

,customer_id,subject_line_length,last_open_day,last_login_day,last_checkout_day,open_count_last_10_days,open_count_last_30_days,open_count_last_60_days,login_count_last_10_days,login_count_last_30_days,...,checkout_count_last_30_days,checkout_count_last_60_days,open_flag,row_id,attr_1,attr_2,attr_3,age,domain,checkout_count_last_1_year
0,299,32,19,1,2,0,1,3,34,118,...,2,7,0,2393,1.0,1.0,1.0,38.0,@gmail.com,16
1,2143,32,21,2,7,0,2,4,20,68,...,3,10,0,2429,1.0,1.0,2.0,26.0,@yahoo.com,73
2,2306,37,130,1,10,0,0,0,172,522,...,12,26,0,2434,1.0,1.0,4.0,56.0,@gmail.com,172
3,3334,32,9,13,19,1,1,2,2,10,...,1,3,0,2448,1.0,1.0,2.0,30.0,@gmail.com,38
4,5751,32,62,2,5,0,0,0,22,64,...,13,18,0,2486,1.0,1.0,2.0,27.0,@yahoo.com,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2333,126576,63,32,20,104,0,0,1,0,0,...,0,0,0,69594,NaN,1.0,0.0,35.0,@yahoo.com,9
2334,126948,63,5,5,103,1,3,3,0,0,...,0,0,0,69599,1.0,1.0,1.0,26.0,@gmail.com,13
2335,127209,63,85,889,Never checkout,0,0,0,0,0,...,0,0,0,69607,NaN,1.0,0.0,45.0,@yahoo.com,0
2336,127441,63,28,474,Never checkout,0,1,2,0,0,...,0,0,0,69611,1.0,1.0,1.0,30.0,@yahoo.com,0
2337,127744,63,16,1380,226,0,1,1,0,0,...,0,0,0,69619,NaN,1.0,0.0,45.0,@gmail.com,7

In [107]:
sum(SG_customer.checkout_count_last_1_year)

71592

In [115]:
from datetime import datetime, timedelta

# Function to generate random order times within a specific time range
def generate_order_times(num_orders, start_date, end_date):
    return [start_date + (end_date - start_date) * np.random.random() for _ in range(num_orders)]

# Function to generate orders for each customer
def generate_orders_for_customer(customer_row, product_ids):
    orders = []

    # Generate order times for the last 30 days
    total_orders_last_30_days = customer_row['checkout_count_last_30_days']
    if total_orders_last_30_days > 0:
        start_30_days = datetime(2019, 11, 1)
        end_30_days = datetime(2019, 12, 31)
        order_times_last_30_days = generate_order_times(total_orders_last_30_days, start_30_days, end_30_days)
        orders.extend([(order_time, np.random.choice(product_ids), customer_row['customer_id']) for order_time in order_times_last_30_days])
    
    # Generate order times for the last 60 days (excluding last 30 days)
    total_orders_last_60_days = customer_row['checkout_count_last_60_days'] - total_orders_last_30_days
    if total_orders_last_60_days > 0:
        start_60_days = datetime(2019, 10, 1)
        end_60_days = datetime(2019, 10, 31)
        order_times_last_60_days = generate_order_times(total_orders_last_60_days, start_60_days, end_60_days)
        orders.extend([(order_time, np.random.choice(product_ids), customer_row['customer_id']) for order_time in order_times_last_60_days])
    
    # Generate order times for the rest of the year (excluding last 60 days)
    total_orders_last_1_year = customer_row['checkout_count_last_1_year'] - customer_row['checkout_count_last_60_days']
    if total_orders_last_1_year > 0:
        start_1_year = datetime(2019, 1, 1)
        end_1_year = datetime(2019, 9, 30)
        order_times_last_1_year = generate_order_times(total_orders_last_1_year, start_1_year, end_1_year)
        orders.extend([(order_time, np.random.choice(product_ids), customer_row['customer_id']) for order_time in order_times_last_1_year])

    # Generate order IDs and construct order records
    order_ids = [f"order_{i}" for i in range(len(order_dataset) + 1, len(order_dataset) + len(orders) + 1)]
    
    orders_df = pd.DataFrame({
        'order_id': order_ids,
        'order_time': [order[0] for order in orders],
        'product_id': [order[1] for order in orders],
        'customer_id': [order[2] for order in orders]
    })

    return orders_df

# Initialize the order dataset
order_dataset = pd.DataFrame(columns=['order_id', 'order_time', 'product_id', 'customer_id'])

# Get product IDs from the product dataset
product_ids = products['product_id'].values

# Generate orders for each customer
for idx, customer_row in SG_customer.iterrows():
    customer_orders = generate_orders_for_customer(customer_row, product_ids)
    order_dataset = pd.concat([order_dataset, customer_orders], ignore_index=True)

/var/folders/44/pbhm_xj112ndmk4mf3bf564c0000gn/T/ipykernel_54001/48896343.py:56: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  order_dataset = pd.concat([order_dataset, customer_orders], ignore_index=True)

In [116]:
order_dataset

          order_id                 order_time product_id customer_id
0          order_1 2019-12-12 00:44:21.848319      16184         299
1          order_2 2019-11-26 23:25:17.125137      15479         299
2          order_3 2019-10-20 16:50:20.437888       4310         299
3          order_4 2019-10-17 14:04:45.043109      12953         299
4          order_5 2019-10-26 19:29:52.216356      14215         299
...            ...                        ...        ...         ...
71660  order_71661 2019-04-04 15:03:12.376522       8413      127744
71661  order_71662 2019-03-17 02:20:52.019362       8051      127744
71662  order_71663 2019-02-20 20:45:42.043997      17954      127744
71663  order_71664 2019-04-29 07:29:50.179098      14003      127744
71664  order_71665 2019-06-07 21:40:27.888776      10156      127744

[71665 rows x 4 columns]

In [117]:
products.columns

Index(['price_ori', 'item_category_detail', 'title', 'item_rating',
       'seller_name', 'price_actual', 'total_rating', 'total_sold', 'favorite',
       'desc', 'Stock', 'Ships_From', 'product_id'],
      dtype='object')

In [118]:
customer.columns

Index(['country_code', 'grass_date', 'user_id', 'subject_line_length',
       'last_open_day', 'last_login_day', 'last_checkout_day',
       'open_count_last_10_days', 'open_count_last_30_days',
       'open_count_last_60_days', 'login_count_last_10_days',
       'login_count_last_30_days', 'login_count_last_60_days',
       'checkout_count_last_10_days', 'checkout_count_last_30_days',
       'checkout_count_last_60_days', 'open_flag', 'row_id', 'attr_1',
       'attr_2', 'attr_3', 'age', 'domain', 'checkout_count_last_1_year'],
      dtype='object')